<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="website">
        <patch:attribute name="rootPath">/sitecore/content/Mvc4Fed</patch:attribute>
        <patch:attribute name="database">master</patch:attribute>
        <patch:attribute name="cacheHtml">false</patch:attribute>
      </site>
    </sites>
    <settings>
      <setting name="Sitecore.Foundation.FedEx.SiteRootTemplates" value="{F0831818-3FC1-4AC8-A6EB-DADDBD5D89DB}"/>
      <setting name="Sitecore.Foundation.FedEx.HomePageTemplates" value="{7495BFBB-160F-4F43-84B7-C72B78B83338}"/>
      <setting name="Sitecore.Foundation.FedEx.SettingsTemplates" value="{F5954DEE-5E5F-4D3C-9A43-FA28520E327E}"/>
      <setting name="Sitecore.Foundation.FedEx.DictionaryRootTemplate" value="{C97EF8D7-9302-4226-8954-B86388A8BC62}"/>
    </settings>
  </sitecore>
</configuration>