@model Sitecore.Mvc.Presentation.RenderingModel
<div class="row" id="content">
    <div class="medium-8 columns">
        @Html.Sitecore().Placeholder("Content")
    </div>
    <div class="medium-3 columns" data-sticky-container>
        @Html.Sitecore().Placeholder("Sidebar")
        <div class="sticky" data-sticky data-anchor="content">
            <h4>Categories</h4>
            <ul>
                <li><a href="#">Skyler</a></li>
                <li><a href="#">Jesse</a></li>
                <li><a href="#">Mike</a></li>
                <li><a href="#">Holly</a></li>
            </ul>
            <h4>Authors</h4>
            <ul>
                <li><a href="#">Skyler</a></li>
                <li><a href="#">Jesse</a></li>
                <li><a href="#">Mike</a></li>
                <li><a href="#">Holly</a></li>
            </ul>
        </div>
    </div>
</div>
