@using System.Linq
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="column row">
    <hr>
    @{ 
        var placeholder = "TabContainer";
        var renderingReferences = Sitecore.Context.Item.Visualization.GetRenderings(Sitecore.Context.Device, true);
        var renderingsInPlaceholder = renderingReferences.Where(r => r.Placeholder.EndsWith('/' + placeholder, StringComparison.OrdinalIgnoreCase));
    }
    <ul class="tabs" data-tabs id="example-tabs" data-tabs-count="@renderingsInPlaceholder.Count()">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Reviews</a></li>
        <li class="tabs-title"><a href="#panel2">Similar Products</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="example-tabs">
        @Html.Sitecore().Placeholder("TabContainer")        
    </div>
</div>
