@model Sitecore.Mvc.Presentation.RenderingModel
<div class="row" id="content">
    <div class="medium-8 columns">
        @Html.Sitecore().Placeholder("Content")
    </div>
    <div class="medium-3 columns" data-sticky-container>
        @Html.Sitecore().Placeholder("Sidebar")
    </div>
</div>
