@using Sitecore.Data.Items
@model Sitecore.Mvc.Presentation.RenderingModel
<ul class="menu">
    @foreach (var menuItem in (IEnumerable <Item>)Model.Item.Children)
    {
        if (menuItem.Template.Name == "TextItem")
        {
            <li class="menu-text">@Html.Sitecore().Field("Text", menuItem)</li>
        }
        else if (menuItem.Template.Name == "LinkItem")
        {
            <li>@Html.Sitecore().Field("Link", menuItem)</li>
        }
    }
</ul>
