@model Sitecore.Mvc.Presentation.RenderingModel
<div class="medium-6 large-5 columns">
    <h3>@Html.Sitecore().Field("Name")</h3>
    <p>@Html.Sitecore().Field("Description")</p>
    @*<label>
        Size
        <select>
            <option value="husker">Small</option>
            <option value="starbuck">Medium</option>
            <option value="hotdog">Large</option>
            <option value="apollo">Yeti</option>
        </select>
    </label>*@
    <div class="row">
        <div class="small-3 columns">
            <label for="middle-label" class="middle">@Html.Partial("_DictionaryPhrase", "Store/Quantity")</label>
        </div>
        <div class="small-9 columns">
            <input type="text" id="middle-label" placeholder="One fish two fish">
        </div>
    </div>
    <a href="#" class="button large expanded">@Html.Partial("_DictionaryPhrase", "Store/BuyNow")</a>
    <div class="small secondary expanded button-group">
        <a class="button">Facebook</a>
        <a class="button">Twitter</a>
        <a class="button">Yo</a>
    </div>
</div>
