@model Sitecore.Mvc.Presentation.RenderingModel
<div class="callout large secondary">
    <div class="row">
        <div class="large-4 columns">
            @Html.Sitecore().Placeholder("Footer-Column-1")
        </div>
        <div class="large-3 large-offset-2 columns">
            @Html.Sitecore().Placeholder("Footer-Column-2")
        </div>
        <div class="large-3 columns">
            @Html.Sitecore().Placeholder("Footer-Column-3")
        </div>
    </div>
</div>
