@model Sitecore.Mvc.Presentation.RenderingModel
<div class="top-bar">
    <div class="top-bar-left">
        @Html.Sitecore().Placeholder("Header-Left")
    </div>
    <div class="top-bar-right">
        @Html.Sitecore().Placeholder("Header-Right")
    </div>
</div>
