@model Sitecore.Mvc.Presentation.RenderingModel
<div class="callout large primary">
    <div class="row column text-center">
        <h1>@Html.Sitecore().Field("Header")</h1>
        <h2 class="subheader">@Html.Sitecore().Field("SubHeader")</h2>
    </div>
</div>
