@model Sitecore.Mvc.Presentation.RenderingModel
<div class="medium-6 columns">
    <img class="thumbnail" src="http://placehold.it/650x350">
    <div class="row small-up-4">
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/250x200">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/250x200">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/250x200">
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/250x200">
        </div>
    </div>
</div>
