@using Sitecore.Data.Fields
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="tabs-panel @(Model.Rendering.Properties["IsActive"] == "True" ? "is-active" : "")" id="@Model.Rendering.Properties["PanelId"]">
    <div class="row medium-up-3 large-up-5">
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/350x200">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Buy Now</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/350x200">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Buy Now</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/350x200">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Buy Now</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/350x200">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Buy Now</a>
        </div>
        <div class="column">
            <img class="thumbnail" src="http://placehold.it/350x200">
            <h5>Other Product <small>$22</small></h5>
            <p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
            <a href="#" class="button hollow tiny expanded">Buy Now</a>
        </div>
    </div>
</div>
