@model Sitecore.Mvc.Presentation.RenderingModel
<div class="callout large secondary">
    @{ 
        var menuRenderingId = "{11A66AC3-12D7-494D-A87C-C62032F1C873}";
        var db = Model.Item.Database;
        var query = @"fast:/ancestor::*[@@templatename='Website']//*[@@templatename='SettingsFolder']//*[@@templatename='Footer']";
        var footerMenu1ItemId = "";
        var footerMenu2ItemId = "";
        var footerItem = db.SelectSingleItem(query);
        if (footerItem != null)
        {
            var footerMenu1Item = db.GetItem(footerItem["FooterMenu1"]);
            footerMenu1ItemId = footerMenu1Item != null ? footerMenu1Item.ID.ToString() : "";
            var footerMenu2Item = db.GetItem(footerItem["FooterMenu2"]);
            footerMenu2ItemId = footerMenu2Item != null ? footerMenu2Item.ID.ToString() : "";
        }
    }
    <div class="row">
        <div class="large-4 columns">
            <h5>@Html.Sitecore().Field("Title", footerItem)</h5>
            <p>@Html.Sitecore().Field("Description", footerItem)</p>
        </div>
        <div class="large-3 large-offset-2 columns">
            @Html.Sitecore().Rendering(menuRenderingId, new { Datasource = footerMenu1ItemId, Parameters = "Vertical=1&Menu=1" })
        </div>
        <div class="large-3 columns">
            @Html.Sitecore().Rendering(menuRenderingId, new { Datasource = footerMenu2ItemId, Parameters = "Vertical=1&Menu=1" })
        </div>
    </div>
</div>
