@model Sitecore.Mvc.Presentation.RenderingModel
<div class="top-bar">
    <div class="top-bar-left">
        @Html.Sitecore().Placeholder("TopBarLeft")
    </div>
    <div class="top-bar-right">
        @Html.Sitecore().Placeholder("TopBarRight")
    </div>
</div>
