@model Sitecore.Mvc.Presentation.RenderingModel
<div class="top-bar">
    @{ 
        var menuRenderingId = "{11A66AC3-12D7-494D-A87C-C62032F1C873}";
        var db = Model.Item.Database;
        var query = @"fast:/ancestor::*[@@templatename='Website']//*[@@templatename='SettingsFolder']//*[@@templatename='Header']";
        var siteLogoMenuItemId = "";
        var secondaryMenuItemId = "";
        var headerItem = db.SelectSingleItem(query);
        if (headerItem != null)
        {
            var siteLogoMenuItem = db.GetItem(headerItem["LogoMenu"]);
            siteLogoMenuItemId = siteLogoMenuItem != null ? siteLogoMenuItem.ID.ToString() : "";
            var secondaryMenuItem = db.GetItem(headerItem["SecondaryMenu"]);
            secondaryMenuItemId = secondaryMenuItem != null ? secondaryMenuItem.ID.ToString() : "";
        }
    }
    <div class="top-bar-left">
        @Html.Sitecore().Rendering(menuRenderingId, new { Datasource = siteLogoMenuItemId, Parameters = "Vertical=0&Menu=1" })
    </div>
    <div class="top-bar-right">
        @Html.Sitecore().Rendering(menuRenderingId, new { Datasource = secondaryMenuItemId, Parameters = "Vertical=0&Menu=1" })
    </div>
</div>
