<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <settings>
      <setting name="Sitecore.Foundation.FedEx.SiteRootTemplates" value=""/>
      <setting name="Sitecore.Foundation.FedEx.HomePageTemplates" value=""/>
      <setting name="Sitecore.Foundation.FedEx.SettingsTemplates" value=""/>
      <setting name="Sitecore.Foundation.FedEx.DictionaryRootTemplate" value=""/>
    </settings>

    <events>
      <event name="item:saved">
        <handler type="Sitecore.Foundation.FedEx.DynamicPlaceholders.Events.DynamicPlaceholder, Sitecore.Foundation.FedEx" method="OnItemSaved" />
      </event>
    </events>
    
    <pipelines>
      <getPlaceholderRenderings>
        <processor type="Sitecore.Foundation.FedEx.DynamicPlaceholders.Pipelines.GetPlaceholderRenderings.GetDynamicKeyAllowedRenderings, Sitecore.Foundation.FedEx" patch:before="processor[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']"/>
      </getPlaceholderRenderings>
      <getChromeData>
        <processor type="Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel">
          <patch:attribute name="type">Sitecore.Foundation.FedEx.DynamicPlaceholders.Pipelines.GetChromeData.GetDynamicPlaceholderChromeData, Sitecore.Foundation.FedEx</patch:attribute>
        </processor>
      </getChromeData>
      <executePageEditorAction>
        <processor type="Sitecore.Pipelines.ExecutePageEditorAction.ReplaceRendering, Sitecore.ExperienceEditor">
          <patch:attribute name="type">Sitecore.Foundation.FedEx.DynamicPlaceholders.Pipelines.ExecutePageEditorAction.DynamicReplaceRendering, Sitecore.Foundation.FedEx</patch:attribute>
        </processor>
      </executePageEditorAction>
    </pipelines>

  </sitecore>
</configuration>